.fbngn { 
  margin-right: 1px;
  margin-top: 50px;
  margin-left: 31px;
  padding-left: 24px;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-right: 73px;
  font-size: 95px;
  border-bottom-width: 76px;
  padding-top: 46px;
  padding-bottom: 15px;
  padding-left: 29px;
  margin-bottom: 29px;
  border-bottom-width: 62px;
  padding-left: 49px;
  padding-top: 86px;
  border-right-width: 27px;
  padding-top: 15px;
  margin-left: 45px;
}
