.mdarf { 
  margin-right: 51px;
  margin-right: 71px;
  font-size: 5px;
  margin-left: 35px;
  padding-right: 84px;
  line-height: 28px;
  border-right-width: 69px;
  padding-bottom: 6px;
  margin-right: 54px;
  line-height: 55px;
  font-size: 88px;
  margin-bottom: 78px;
  padding-left: 38px;
  border-top-width: 47px;
  padding-bottom: 50px;
  padding-top: 70px;
}
