.mdarf { 
  margin-right: 51px;
  margin-right: 71px;
  font-size: 5px;
  margin-left: 35px;
  padding-right: 84px;
  line-height: 28px;
  border-right-width: 69px;
  padding-bottom: 6px;
  margin-right: 54px;
  line-height: 55px;
  font-size: 88px;
  margin-bottom: 78px;
  padding-left: 38px;
  border-top-width: 47px;
  padding-bottom: 50px;
  border-right-width: 1px;
  padding-right: 90px;
  margin-right: 73px;
  padding-right: 37px;
  line-height: 14px;
  margin-top: 45px;
  padding-top: 53px;
  margin-left: 72px;
  line-height: 31px;
  margin-bottom: 42px;
  border-bottom-width: 89px;
  font-size: 16px;
  margin-bottom: 36px;
  border-top-width: 41px;
  margin-bottom: 51px;
  margin-right: 86px;
  font-size: 60px;
  border-left-width: 42px;
  border-bottom-width: 93px;
  padding-top: 8px;
  border-right-width: 82px;
  padding-right: 67px;
  border-left-width: 25px;
  padding-right: 49px;
  margin-bottom: 32px;
  padding-bottom: 78px;
  border-top-width: 57px;
  font-size: 24px;
  padding-bottom: 35px;
  padding-bottom: 91px;
  line-height: 59px;
  border-right-width: 68px;
  padding-right: 95px;
  margin-right: 90px;
  margin-right: 62px;
  padding-top: 27px;
  font-size: 37px;
  padding-top: 11px;
  margin-right: 38px;
  font-size: 94px;
  border-right-width: 28px;
  border-top-width: 67px;
  font-size: 24px;
  font-size: 70px;
  margin-right: 56px;
  margin-left: 83px;
  line-height: 11px;
  border-left-width: 76px;
  margin-left: 74px;
  padding-right: 36px;
  font-size: 95px;
  margin-right: 68px;
  padding-right: 45px;
  padding-top: 23px;
  padding-left: 50px;
  margin-bottom: 35px;
  margin-right: 90px;
  line-height: 91px;
  margin-right: 43px;
  font-size: 76px;
  border-bottom-width: 74px;
  margin-right: 41px;
  margin-top: 14px;
  padding-top: 17px;
  margin-right: 91px;
  border-right-width: 65px;
}
