.fbngn { 
  margin-right: 1px;
  margin-top: 50px;
  margin-left: 31px;
  padding-left: 24px;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-right: 73px;
  font-size: 95px;
  border-bottom-width: 76px;
  padding-top: 46px;
  padding-bottom: 15px;
  padding-left: 29px;
  margin-bottom: 29px;
  border-bottom-width: 62px;
  padding-left: 49px;
  padding-top: 86px;
  border-right-width: 27px;
  padding-top: 15px;
  margin-left: 45px;
  border-top-width: 80px;
  margin-left: 50px;
  padding-bottom: 59px;
  line-height: 29px;
  padding-top: 61px;
  border-left-width: 48px;
  padding-top: 11px;
  border-left-width: 71px;
  border-top-width: 47px;
  border-right-width: 44px;
  padding-bottom: 26px;
  font-size: 19px;
  margin-top: 21px;
  margin-bottom: 65px;
  margin-bottom: 19px;
  padding-right: 3px;
  margin-right: 93px;
  padding-right: 64px;
  border-left-width: 85px;
  border-bottom-width: 50px;
  padding-left: 75px;
  border-left-width: 60px;
  margin-top: 20px;
  line-height: 19px;
  font-size: 38px;
  margin-bottom: 0px;
  border-left-width: 79px;
  padding-left: 27px;
  padding-left: 63px;
  margin-left: 31px;
  font-size: 64px;
  padding-right: 24px;
  padding-bottom: 30px;
  font-size: 82px;
  padding-right: 74px;
  padding-bottom: 59px;
  padding-right: 16px;
  border-right-width: 41px;
  border-left-width: 40px;
  border-top-width: 39px;
  padding-left: 0px;
  border-right-width: 32px;
  margin-left: 50px;
  padding-bottom: 25px;
  margin-left: 16px;
  padding-top: 50px;
  border-top-width: 67px;
  font-size: 0px;
  padding-left: 31px;
  border-bottom-width: 31px;
  padding-left: 61px;
  border-top-width: 22px;
  border-right-width: 6px;
  margin-bottom: 87px;
  padding-top: 33px;
  margin-top: 52px;
  border-bottom-width: 56px;
  padding-top: 55px;
  line-height: 39px;
  padding-bottom: 26px;
  margin-right: 59px;
  border-left-width: 56px;
  border-top-width: 83px;
  margin-right: 80px;
  border-left-width: 91px;
  border-left-width: 87px;
  margin-bottom: 87px;
  margin-bottom: 1px;
  padding-bottom: 78px;
  line-height: 43px;
  border-right-width: 24px;
  border-right-width: 37px;
  padding-left: 63px;
  padding-left: 51px;
  border-bottom-width: 0px;
  border-right-width: 58px;
  padding-left: 27px;
  border-top-width: 70px;
  padding-bottom: 4px;
  margin-bottom: 8px;
  line-height: 60px;
  padding-top: 69px;
  border-top-width: 85px;
  font-size: 82px;
  padding-left: 65px;
  line-height: 25px;
  padding-bottom: 63px;
  padding-left: 89px;
  border-right-width: 96px;
  padding-left: 58px;
  border-top-width: 62px;
  border-top-width: 75px;
  padding-bottom: 50px;
  margin-left: 40px;
  padding-right: 21px;
  font-size: 97px;
  margin-bottom: 0px;
  border-bottom-width: 82px;
}
